*/experiments
*.pyc
*/mal
*/step0_repl
*/step1_read_print
*/step2_eval
*/step3_env
*/step4_if_fn_do
*/step5_tco
*/step6_file
*/step7_quote
*/step8_macros
*/step9_try
*/stepA_mal
bash/mal.sh
c/*.o
coffee/node_modules
cs/*.exe
cs/*.dll
cs/*.mdb
clojure/target
clojure/.lein-repl-history
erlang/*beam
go/step*
go/mal
haskell/*.hi
haskell/*.o
java/target/
java/dependency-reduced-pom.xml
js/node_modules
js/mal.js
js/mal_web.js
lua/lib
lua/linenoise.so
make/mal.mk
ocaml/*.cmi
ocaml/*.cmo
ocaml/*.swp
ocaml/*.cmx
ocaml/*.o
ocaml/mal_lib.*
rust/target/
rust/mal
rust/Cargo.lock
rust/.cargo
r/lib
scala/target
scala/project
vb/*.exe
vb/*.dll
